<div id="row">
  <h4>These pets are looking for a home!</h4>
  <button [routerLink]="['new']" class="waves-effect waves-light btn green">Add a Pet</button>
</div>
<br>
<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pet of pets">
      <td>{{ pet.name }}</td>
      <td>{{ pet.type }}</td>
      <td>
        <button [routerLink]="[pet._id]" class="waves-effect waves-light btn blue">Details</button>
        <span>&nbsp;&nbsp;</span>
        <button [routerLink]="[pet._id, 'edit']" class="waves-effect waves-light btn green">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
